*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conteiner-nav{
    justify-content: center;
    display: flex;
    background-color: #add8e6;
    height: 5rem;
    width: 100%;
}

nav.nav{
    border: solid black;
    height: 3rem;
    width: 80rem;
    background-color: #daa520;
    margin-top: 1rem;
}

.header-section{
    display: flex;
    justify-content: center;
    background-color: blue;
    width: 100%;
    height: 25rem;
    

}
.header-div{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 50rem;
    border: solid black;
    height: 20rem;
    background-color: #ffc0cb; 

}

.top-flex{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35rem;
    
}

.items-flex{
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: solid black;
    height: 30rem;
}
.big-box{
    width: 60rem;
    background-color: lightblue;
}

.small-box{
    width: 20rem;
    background-color:  #ffc0cb;
}

.middle-flex{
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    background-color:lightgrey;
    width: 100%;
    height: 35rem;

}

.low-flex{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35rem;

}
.main-footer{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    width: 100%;
    height: 45rem;

}

.green-box{
    width: 60rem;
    height: 40rem;
    background-color: green;
    margin-top: 2.5rem;
}




